@font-face {
  font-family: 'Montserrat';
  src: 
		url('../assets/fonts/MaterialIcons-Regular.ttf') format('truetype'),
    url('../assets/fonts/MaterialIcons-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: 
		url('../assets/fonts/Montserrat-Bold.woff') format('woff'),
    url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MaterialIcons';
  src: 
		url('../assets/fonts/MaterialIcons-Regular.ttf') format('truetype'),
    url('../assets/fonts/MaterialIcons-Regular.woff') format('woff');
}

