.slider {
	width: 400px;
	height: 10px;
	margin-left: 10px;
	margin-right: 40px;
	margin-bottom: 40px;
}
.dropdown {
	margin-left: 10px;
	width: 900px;
}

.container {
	width: 1900px;
	margin-top: 40px;
	margin-left: 10px;
	display: flex;
	gap: 40px;
}