.vertical-sliders {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  gap: 100px;
	&__quick-start{
		display: flex;
		gap: 40px;
	}
  &__simple-slider {
    width: 15px;
    height: 400px;
  }
	&__input-container{
		width: 150px;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
  &__star-slider {
    display: flex;
    gap: 40px;
  }
}

.horizontal-sliders {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
  gap: 100px;
  &__simple-slider-container {
    display: flex;
    gap: 40px;
  }
  &__simple-slider {
    width: 400px;
    height: 10px;
  }
}
