mixin dropdown-default-item()
	.dropdown-item__container.js-dropdown-item__container 
		.dropdown-item__title.js-dropdown-item__title
		.dropdown-item__button-container
			button.dropdown-item__sub-button.js-dropdown-item__sub-button= '-'
			input.dropdown-item__counter.js-dropdown-item__counter(value=0, type='button', disbled)
			button.dropdown-item__add-button.js-dropdown-item__add-button= '+' 
