include ./__dropdown-default-item/dropdown-default-item.pug
include ./__dropdown-toggle-item/dropdown-toggle-item.pug
include ./__dropdown-input-item/dropdown-input-item.pug
include ./__dropdown-title/dropdown-title.pug
include ../../component-templates/global-constants/constants.pug
include ../button/button.pug

mixin dropdown()
	.dropdown__container.js-dropdown__container
		+dropdown-title()
		.dropdown__expand-container
			+dropdown-default-item()
			+dropdown-toggle-item({title : 'Add scale'})
			+dropdown-toggle-item({title : 'Add tooltip'})
			+dropdown-toggle-item({title : 'Add progress bar'})
			.dropdown__button-container 
				+button({type: BUTTON.LINK, label: 'close panel'})
