$dark-50: rgba(31, 32, 65, 0.5);
$dark-25: rgba(31, 32, 65, 0.25);
.dropdown-toggle-item {
  &__container {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;
    padding-left: 1.4rem;
    padding-right: 0.6rem;
  }
}
