.slider-plugin {
	width: 100%;
	height: 100%;
	display: flex;
	border: 1px solid darkgreen;
	position: relative;
	&_vertical {
		display: block;
	}
	&__handler-container {
		height: 300%;
		aspect-ratio: 1;
		position: relative;
		&_vertical{
			height: auto;
			width: 300%;
			aspect-ratio: 1;
		}
	}
}